.background {
position: absolute;
top:0;
left:0;
 width: 100vw;
 height:100vh;
 background-image: url("background.jpg");
 background-size: cover;
background-repeat: no-repeat;
background-position: center center;

}

.fullmoon {
position: absolute;
top: 0vw;
left: 13vw;
width: 20vw;
height: 20vw;
width: 742.5px;
height: 502px;
margin-left: auto;
margin-right: auto;
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
animation-name: moon;
animation-duration: 45s;
animation-iteration-count: infinite;
z-index: 2;
}

.fullmoon.alarm {
    display:none;
}

.man {
    position: absolute;
    top: 432px;
    left: 530px;
    width: 347px;
    height: 79.5px;
    z-index:5;
  animation-name: animan;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.water {
    position: absolute;
    top: 500px;
    left: -19px;
    width: 1041.75px;
    height: 236.25px;
    background-color: rgb(0,0,48);
    z-index:3
}

.star1 {
width: 7px;
height: 7px;
position: absolute;
top: 61px;
left: 55px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star1.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star2 {
width: 7px;
height: 7px;
position: absolute;
top: 225px;
left: 124px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star2.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star3 {
width: 5px;
height: 5px;
position: absolute;
top: 18px;
left: 295px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star3.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star4 {
width: 6px;
height: 6px;
position: absolute;
top: 316px;
left: 25px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;}

.star4.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star5 {
width: 4px;
height: 4px;
position: absolute;
top: 404px;
left: 87px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star5.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star6 {
width: 5px;
height: 5px;
position: absolute;
top: 19px;
left: 47px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star6.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star7 {
width: 4px;
height: 4px;
position: absolute;
top: 458px;
left: 41px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star7.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star8 {
width: 6px;
height: 6px;
position: absolute;
top: 124px;
left: 15px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star8.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star9 {
width: 5px;
height: 5px;
position: absolute;
top: 81px;
left: 157px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star9.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star10 {
width: 6px;
height: 6px;
position: absolute;
top: 121px;
left: 145px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star10.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star11 {
width: 4px;
height: 4px;
position: absolute;
top: 171px;
left: 45px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star11.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star12 {
width: 5px;
height: 5px;
position: absolute;
top: 99px;
left: 73px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star12.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star13 {
width: 7px;
height: 7px;
position: absolute;
top: 331px;
left: 117px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star13.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star14 {
width: 4px;
height: 4px;
position: absolute;
top: 21px;
left: 145px
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star14.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star15 {
width: 5px;
height: 5px;
position: absolute;
top: 227px;
left: 13px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star15.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star16 {
width: 6px;
height: 6px;
position: absolute;
top: 45px;
left: 170px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star16.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star17 {
width: 7px;
height: 7px;
position: absolute;
top: 424px;
left: 115px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star17.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star18 {
width: 5px;
height: 5px;
position: absolute;
top: 11px;
left: 215px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star18.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star19 {
width: 6px;
height: 6px;
position: absolute;
top: 469px;
left: 95px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star19.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star20 {
width: 4px;
height: 4px;
position: absolute;
top: 71px;
left: 115px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star20.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star21 {
width: 4px;
height: 4px;
position: absolute;
top: 18px;
left: 103px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star21.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star22 {
width: 5px;
height: 5px;
position: absolute;
top: 241px;
left: 75px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star22.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star23 {
width: 6px;
height: 6px;
position: absolute;
top: 351px;
left: 50px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star23.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star24 {
width: 7px;
height: 7px;
position: absolute;
top: 438px;
left: 20px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star24.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star25 {
width: 6px;
height: 6px;
position: absolute;
top: 483px;
left: 15px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star25.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star26 {
width: 6px;
height: 6px;
position: absolute;
top: 191px;
left: 100px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star26.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star27 {
width: 7px;
height: 7px;
position: absolute;
top: 18px;
left: 340px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star27.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star28 {
width: 4px;
height: 4px;
position: absolute;
top: 51px;
left: 860px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star28.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star29 {
width: 5px;
height: 5px;
position: absolute;
top: 340px;
left: 970px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star29.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star30 {
width: 6px;
height: 6px;
position: absolute;
top: 31px;
left: 710px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star30.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star31 {
width: 4px;
height: 4px;
position: absolute;
top: 10px;
left: 804px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star31.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star32 {
width: 6px;
height: 6px;
position: absolute;
top: 71px;
left: 802px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star32.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star33 {
width: 5px;
height: 5px;
position: absolute;
top: 47px;
left: 902px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star33.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star34 {
width: 5px;
height: 5px;
position: absolute;
top: 131px;
left: 868px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star34.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star35 {
width: 6px;
height: 6px;
position: absolute;
top: 64px;
left: 980px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star35.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star36 {
width: 7px;
height: 7px;
position: absolute;
top: 141px;
left: 950px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star36.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star37 {
width: 4px;
height: 4px;
position: absolute;
top: 191px;
left: 894px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star37.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star38 {
width: 5px;
height: 5px;
position: absolute;
top: 191px;
left: 970px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star38.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star39 {
width: 6px;
height: 6px;
position: absolute;
top: 11px;
left: 953px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star39.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star40 {
width: 4px;
height: 4px;
position: absolute;
top: 101px;
left: 907px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star40.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star41 {
width: 5px;
height: 5px;
position: absolute;
top: 261px;
left: 880px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star41.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star42 {
width: 6px;
height: 6px;
position: absolute;
top: 241px;
left: 960px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star42.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star43 {
width: 5px;
height: 5px;
position: absolute;
top: 287px;
left: 990px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star43.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star44 {
width: 4px;
height: 4px;
position: absolute;
top: 332px;
left: 930px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star44.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star45 {
width: 7px;
height: 7px;
position: absolute;
top: 43px;
left: 766px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star45.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star46 {
width: 6px;
height: 6px;
position: absolute;
top: 375px;
left: 895px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star46.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star47 {
width: 5px;
height: 5px;
position: absolute;
top: 417px;
left: 964px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star47.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star48 {
width: 5px;
height: 5px;
position: absolute;
top: 471px;
left: 916px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star48.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star49 {
width: 4px;
height: 4px;
position: absolute;
top: 454px;
left: 982px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star49.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star50 {
width: 6px;
height: 6px;
position: absolute;
top: 125px;
left: 809px;
background-color: white;
border-radius: 50%;
animation-name: stars;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

.star50.alarm {
animation-name: stara;
animation-duration: .3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}



@keyframes stars {
0% {
    opacity:100%;
}

25% {
    opacity:80%;
}

50% {
    opacity:60%;
}

75% {
    opacity:40%;
}

100% {
    opacity:100%;
}
}



@keyframes moon {
    0% {
    background-image: url(fullmoon.png);
    }

    14.3% {
    background-image: url(moon2.png);  
    }

    28.6% {
    background-image: url(moon3.png);     
    }

    42.9%{
    background-image: url(newmoon.png);    
    }

    57.2% {
    background-image: url(moon4.png);     
    }

    71.5% {
    background-image: url(moon5.png);    
    }

    85.7% {
    background-image: url(moon6.png);    
    }

    100% {
    background-image: url(fullmoon.png);       
    }
    
}

@keyframes stars {
0% {
    opacity:100%;
}

25% {
    opacity:60%;
}

50% {
    opacity:20%;
}

75% {
    opacity:10%;
}

100% {
    opacity:100%;
}
}

@keyframes animan {
    0% {
        left:1000px;

    }

    100% {
        left:-1000px;

    }
}

.message {
position: absolute;
top: 0vw;
left: 12vw;
width: 20vw;
height: 20vw;
width: 742.5px;
height: 502px;
margin-left: auto;
margin-right: auto;
background-size: contain;
background-position: center center;
background-repeat: no-repeat;
 background-image: url(fullmoon.png);
 display:none;
}

.message.alarm {
display:block;
z-index:3;
animation-name: shake;
animation-duration: .1s;
animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        left:12vw
    }

    50% {
        left:14vw;
    }

    100% {
        left:12vw
    }
}

.snooze {
    position: absolute;
    top: 328px;
    left: 410px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px;
    height: 124px;
    background-image: url(snooze.png);
    display: none;
    transition: opacity 0.25s ease-in-out;
}

.snooze:hover {
  opacity: 35%;
  cursor: pointer;
}

.snooze.alarm {
display:block;
z-index:4;
}

.man.alarm {
position: absolute;
top: 432px;
left: 530px;
width: 347px;
height: 79.5px;
z-index:5;
animation-name: mann;
animation-duration: 1000s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes mann {
0% {
    left:342px;
}
100% {
    left:342px;
}

}

@keyframes stara {
0% {
    opacity:100%;
}

25% {
    opacity:60%;
}

50% {
    opacity:20%;
}

75% {
    opacity:60%;
}

100% {
    opacity:100%;

}
}

.moon1 {
    position: absolute;
    top:-9000px;
    left:9000px;
    width: 742.5px;
    height: 502px;
}

.wakeup {
    position: absolute;
    top: 140px;
    left: -1048px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 3090px;
    height: 172px;
    background-image: url(wakeup1.png);
    display: none;
}

.wakeup.alarm {
display:block;
z-index:4;
}

.nothanks {
position: absolute;
    top: 272px;
    left: -989px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 3010px;
    height: 92px;
    background-image: url(nothanks.png);
    display: none;
}

.nothanks.alarm {
display:block;
z-index:4;
}

.reflection {
    position: absolute;
    left: 133px;
    top: 249px;
    z-index: 4;
    width: 722px;
    height: 159.75;
    opacity: 40%;
    animation-name: animreflection;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes animreflection {
0% {
    left:133px;
}

25% {
  left:160px;
}

50% { 
left: 133px; 
}

75% {
  left:100px;
}

100% {
    left:133px;
}
}

.reflection.alarm {
    position: absolute;
    left: 133px;
    top: 249px;
    z-index: 4;
    width: 722px;
    height: 159.75;
    opacity: 40%;
    animation-name: areflection;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes areflection {
0% {
    left:133px;
}

50% {
  left:110px;
}

100% {
    left:133px;
}
}

.reflection2 {
      position: absolute;
    left: -133px;
    top: 249px;
    z-index: 4;
    width: 722px;
    height: 159.75;
    opacity: 40%;
    animation-name: anreflection;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anreflection {
0% {
    left:133px;
}

25% {
  left:100px;
}

50% {
  left:133px;
}

75% {
  left:160px;
}
100% {
    left:133px;
}
}

.reflection2.alarm {
    position: absolute;
    left: -133px;
    top: 249px;
    z-index: 4;
    width: 722px;
    height: 159.75;
    opacity: 40%;
    animation-name: secreflection;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes secreflection {
  0% {
    left:133px;
}

50% {
  left:160px;
}

100% {
    left:133px;
}
}