.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(239,206,213)
  background-repeat: no-repeat;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1024px;
  height: 700px;
  width: 100vw;
  height: 100vh;
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center center;
}

h1 {
	position: absolute;
    left: 1412px;
    top: -263px;
    font-size: 347px;
    font-family: 'Dancing Script', cursive;
    color: rgb(176,80,92);
}

h3 {
    position: absolute;
    left: 1866px;
    top: 265px;
    font-family: 'Oswald', sans-serif;
    color: rgb(71,85,82);
    font-size: 42px;
    letter-spacing: 3px;
}

h4 {
    position: absolute;
    left: 1406px;
    top: 374px;
    font-family: 'Oswald', sans-serif;
    color: rgb(71,85,82);
    font-size: 59px;
    letter-spacing: 3px;
    line-height: 56px;
}

h5 {
    position: absolute;
    left: 1506px;
    top: 483px;
    font-family: 'Oswald', sans-serif;
    color: rgb(71,85,82);
    font-size: 45px;
    line-height: 42px;
    letter-spacing: 3px;
}

h6 {
    position: absolute;
    left: 1608px;
    top: 524px;
    font-family: 'Oswald', sans-serif;
    color: rgb(71,85,82);
    font-size: 36px;
    letter-spacing: 3px;
    line-height: 44px;
   }

p {
	position: absolute;
    left: 1617px;
    top: 703px;
    font-family: 'Oswald', sans-serif;
    color: rgb(71,85,82);
    font-size: 33px;
    letter-spacing: 3px;
    line-height: 34px;
    text-align: center;
}